In [1]:
import pandas as pd
import csv
import requests
import pandas as pd
import time

In [2]:
# Load movie metadata
df1= pd.read_csv("/content/movie_metadata.csv")
df2 = pd.read_csv("/content/movies_tags.csv", on_bad_lines='skip', quoting=csv.QUOTE_NONE)

<ipython-input-2-57bbd2fb3922>:3: DtypeWarning: Columns (0,1,4,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("/content/movies_tags.csv", on_bad_lines='skip', quoting=csv.QUOTE_NONE)

##Cleaning data set df1

In [3]:
# Display basic statistical info for df1
df1.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [4]:
# Show  shape of df1 dataset
df1.shape

(5043, 28)

In [5]:
# List of columns to drop to reduce irrelevant or redundant data
columns_to_drop = [
    "color", "director_facebook_likes", "actor_1_facebook_likes",
    "actor_2_facebook_likes", "actor_3_facebook_likes", "movie_facebook_likes",
    "facenumber_in_poster", "cast_total_facebook_likes", "budget", "gross",
    "aspect_ratio", "content_rating", "actor_2_name", "actor_3_name"
]

# Drop only columns that actually exist in the DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in df1.columns]
df1 = df1.drop(columns=existing_columns_to_drop)

In [6]:
# Print DataFrame info to see remaining columns and data types
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   director_name           4939 non-null   object
 1   num_critic_for_reviews  4993 non-null   float64
 2   duration                5028 non-null   float64
 3   genres                  5043 non-null   object
 4   actor_1_name            5036 non-null   object
 5   movie_title             5043 non-null   object
 6   num_voted_users         5043 non-null   int64
 7   plot_keywords           4890 non-null   object
 8   movie_imdb_link         5043 non-null   object
 9   num_user_for_reviews    5022 non-null   float64
 10  language                5029 non-null   object
 11  country                 5038 non-null   object
 12  title_year              4935 non-null   float64
 13  imdb_score              5043 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 551.7+ KB

In [7]:
#Clean the trailing characters (like Ã‚ in titles)
df1["movie_title"] = df1["movie_title"].apply(lambda x: x.encode('ascii', 'ignore').decode().strip() if isinstance(x, str) else x)

In [8]:
# Check for missing values in all columns
print(df1.isnull().sum())

director_name             104
num_critic_for_reviews     50
duration                   15
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
plot_keywords             153
movie_imdb_link             0
num_user_for_reviews       21
language                   14
country                     5
title_year                108
imdb_score                  0
dtype: int64

In [9]:
# Function to fetch movie details from OMDb API using movie title
def fetch_movie_details(title, api_key):
    """Fetches movie details (Director, Year, Plot, Language, Country) from OMDb API."""
    url = f"http://www.omdbapi.com/?t={title.replace(' ', '+')}&apikey={api_key}"
    response = requests.get(url).json()

    if response.get("Response") == "True":
        return {
            "director": response.get("Director"),
            "year": response.get("Year"),
            "plot": response.get("Plot"),
            "language": response.get("Language"),
            "country": response.get("Country")
        }
    return None  # If API fails or no result found

In [10]:
# Function to fill missing values in selected columns using OMDb API
def fill_missing_values(df, api_key):
    for index, row in df.iterrows():
        if (
            pd.isna(row["director_name"]) or
            pd.isna(row["title_year"]) or
            pd.isna(row["plot_keywords"]) or
            pd.isna(row["language"]) or
            pd.isna(row["country"])
        ):
            # Fetch movie details from API
            movie_details = fetch_movie_details(row["movie_title"], api_key)

            if movie_details:
                # Fill missing fields from API data
                if pd.isna(row["director_name"]) and movie_details["director"]:
                    df.at[index, "director_name"] = movie_details["director"]

                if pd.isna(row["title_year"]) and movie_details["year"]:
                    df.at[index, "title_year"] = movie_details["year"]

                if pd.isna(row["plot_keywords"]) and movie_details["plot"]:
                    df.at[index, "plot_keywords"] = movie_details["plot"]

                if pd.isna(row["language"]) and movie_details["language"]:
                    df.at[index, "language"] = movie_details["language"]

                if pd.isna(row["country"]) and movie_details["country"]:
                    df.at[index, "country"] = movie_details["country"]

            # Pause to avoid hitting API rate limits
            time.sleep(1)

    return df

In [11]:
# API key for OMDb
api_key = "3c45df53"

In [12]:
# Fill missing values in the dataset using the API
df1 = fill_missing_values(df1, api_key)

<ipython-input-10-a18f41201b5a>:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2015' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, "title_year"] = movie_details["year"]

In [13]:
# Print null count after filling
print(df1.isnull().sum())

director_name              0
num_critic_for_reviews    50
duration                  15
genres                     0
actor_1_name               7
movie_title                0
num_voted_users            0
plot_keywords              7
movie_imdb_link            0
num_user_for_reviews      21
language                   1
country                    0
title_year                 1
imdb_score                 0
dtype: int64

In [14]:
# Save updated dataset to CSV
df1.to_csv("updated_movies.csv", index=False)
print("Updated data saved to updated_movies.csv")

Updated data saved to updated_movies.csv

In [15]:
# Fill numerical columns with mean
num_cols = ["num_critic_for_reviews", "duration", "num_user_for_reviews", "title_year"]
for col in num_cols:
    # Convert the column to numeric, handling errors by coercing to NaN
    df1[col] = pd.to_numeric(df1[col], errors='coerce')
    df1[col] = df1[col].fillna(df1[col].mean())

In [16]:
# Fill categorical columns with mode (most frequent value)
cat_cols = ["director_name", "actor_1_name", "language", "country"]
for col in cat_cols:
    df1[col] = df1[col].fillna(df1[col].mode()[0])

In [17]:
# Drop rows that still have missing values in 'plot_keywords'
df1 = df1.dropna(subset=["plot_keywords"])

In [20]:
df1["genres"] = df1["genres"].str.lower()
df1["genres_list"] = df1["genres"].str.split("|")

In [21]:
df1["plot_keywords"] = df1["plot_keywords"].str.replace("|", " ").str.lower()

In [22]:
# Save final cleaned dataset
df1.to_csv("updated_movies.csv", index=False)
print("Updated data saved to updated_movies.csv")

Updated data saved to updated_movies.csv

In [23]:
# Show final shape of cleaned dataset
df1.shape

(5036, 15)