In [1]:
import pandas as pd
import csv
import requests
import pandas as pd
import time

In [2]:
df2 = pd.read_csv("/content/movies_tags.csv")

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [4]:
# Columns to keep
columns_to_keep = ['genres', 'homepage', 'keywords',
    'overview',  'runtime', 'tagline', 'title',
    'cast',  'director'
]

# Drop all other columns
df2 = df2[columns_to_keep]

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4775 non-null   object
 1   homepage  1712 non-null   object
 2   keywords  4391 non-null   object
 3   overview  4800 non-null   object
 4   runtime   4801 non-null   float64
 5   tagline   3959 non-null   object
 6   title     4803 non-null   object
 7   cast      4760 non-null   object
 8   director  4773 non-null   object
dtypes: float64(1), object(8)
memory usage: 337.8+ KB

In [6]:
omdb_api_key = "3200b270"

In [7]:
# Function to fetch homepage (website) from OMDb
def fetch_homepage_omdb(title):
    try:
        url = f"http://www.omdbapi.com/?apikey={omdb_api_key}&t={title}"
        response = requests.get(url)
        data = response.json()
        website = data.get('Website', None)
        if website and website != "N/A":
            return website
    except:
        return None
    return None

In [8]:
# Fill missing homepage values
for idx, row in df2[df2['homepage'].isna()].iterrows():
    homepage = fetch_homepage_omdb(row['title'])
    if homepage:
        df2.at[idx, 'homepage'] = homepage
    time.sleep(0.5)  # Avoid hitting rate limits

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4775 non-null   object
 1   homepage  1712 non-null   object
 2   keywords  4391 non-null   object
 3   overview  4800 non-null   object
 4   runtime   4801 non-null   float64
 5   tagline   3959 non-null   object
 6   title     4803 non-null   object
 7   cast      4760 non-null   object
 8   director  4773 non-null   object
dtypes: float64(1), object(8)
memory usage: 337.8+ KB

In [11]:
df2.to_csv('updated_movies_tages.csv', index=False)